.screen-header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px var(--horizontal-space) var(--horizontal-space);

}
.screen-header__title {
  font-size: 40px;
  font-weight: 500;
}
.screen-header__icons span {
  margin-left: 25px;
}
